<%-include("partials/header")-%>
<h1>Compose</h1>
<form action="/" method="post">
  <label style="display:block">Title</label>
  <textarea class="box" name="titleBody" rows="1" cols="80"></textarea>

  <label style="display:block">Post</label>
  <textarea class="box" name="postBody" rows="8" cols="80"></textarea>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
<%-include("partials/footer")-%>
